body {
    margin: 0px;
}

#ligayabanner {
    width:600px;
    height:250px;
    object-fit: cover;
    
   
}

.banner-container {
    background-color: #8C9F85;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: solid #56420A;
    border-bottom: solid #56420A;
    border-width: 1px;
    
}

.navbar {
    text-decoration: none;
    color: black;
}